
<nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select OS" [(ngModel)]="selectedOS">
  <nz-option nzCustomContent nzLabel="Windows" nzValue="windows"><img src="../assets//imgs//icon-mandi.png"> China +86</nz-option>
  <nz-option nzCustomContent nzLabel="Mac" nzValue="mac"><i nz-icon type="apple"></i> Mac</nz-option>
  <nz-option nzCustomContent nzLabel="Android" nzValue="android"><i nz-icon type="android"></i> Android</nz-option>
</nz-select>
<!-- <i class="icon iconfont">&#xe682;</i> -->


<nz-dropdown>
    <a nz-dropdown>
      Hover me <i nz-icon type="down"></i>
    </a>
    <ul nz-menu>
      <li nz-menu-item (click)="switchLanguage('en')">
        <a>english</a>
      </li>
      <li nz-menu-item (click)="switchLanguage('zh-CN')">
        <a>中文</a>
      </li>
    </ul>
  </nz-dropdown>
<app-intl-code></app-intl-code>