<input type="text" #heroName placeholder="name"/>
<button type="button" (click)="addHeros(heroName.value); heroName.value = ''">add</button>
<button type="button" (click)="searchHeros(heroName.value);">search</button>

<p *ngFor="let hero of heroes" (click)="edit(hero)">
  {{hero.id}} - 
  <span *ngIf="hero != editHero">
    {{hero.name}}
  </span>
  <input *ngIf="hero === editHero" type="text" [(ngModel)]="hero.name" (blur)="update()" (keyup.enter)="update()">
</p>
<div>{{markets | json}}</div>

<table>
  <tr>
    <th>id</th>
    <th>active</th>
    <th>hostname</th>
    <th>description</th>
    <th>readyDate</th>
    <th>domain</th>
  </tr>
  <tr *ngFor="let item of mokeData">
    <td>{{item.id}}</td>
    <td>{{item.active}}</td>
    <td>{{item.hostname}}</td>
    <td>{{item.description}}</td>
    <td>{{item.readyDate}}</td>
    <td>{{item.domain}}</td>
  </tr>
</table>