<!-- <h4>Basic native select</h4>
<mat-form-field>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>

<button mat-button color="primary">Hello World！</button> -->

<i class="material-icons">person</i>
<i class="material-icons">accessibility_new</i>
<i class="material-icons">accessible</i>
<a href="">
    <mat-icon>person</mat-icon>
</a>
<mat-icon>accessible</mat-icon>

<div>
    這是一般的ICON顏色
    <mat-icon>person</mat-icon>
</div>

<div>
    這是加上primary顏色的ICON
    <mat-icon color="primary">thumb_up</mat-icon>
</div>

<div>
    這是加上accent顏色的ICON
    <mat-icon color="accent">info</mat-icon>
</div>

<div>
    這是加上warn顏色的ICON
    <mat-icon color="warn">warning</mat-icon>
</div>

<h2>自行註冊SVG icon</h2>

<div>
    <mat-icon svgIcon="custom-svg:angular"></mat-icon>
    <mat-icon svgIcon="custom-svg:angular" color="primary"></mat-icon>
    <mat-icon svgIcon="custom-svg:angular" color="accent"></mat-icon>
    <mat-icon svgIcon="custom-svg:angular" color="warn"></mat-icon>
</div>

<h2>在MatIcon中使用FontAwesome</h2>

<div>
    <!-- 就是<i class="fa fa-thumbs-up">的概念 -->
    <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up"></mat-icon>
    <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up" color="primary"></mat-icon>
    <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up" color="accent"></mat-icon>
    <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up" color="warn"></mat-icon>
</div>

<button mat-button>我是按鈕</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
<a mat-button>Link</a>
<!-- 放在a tag裡面也沒問題 -->

<br>
<button mat-raised-button>我是raised按鈕</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-button>Link</a>

<div>
    <button mat-raised-button color="primary"><mat-icon>thumb_up</mat-icon></button>
    <button mat-icon-button color="primary"><mat-icon>thumb_up</mat-icon></button>
    <button mat-raised-button mat-icon-button color="primary"><mat-icon>thumb_up</mat-icon></button>
</div>

<div>
    <button mat-fab>
    <mat-icon>thumb_up</mat-icon>
  </button>
    <button mat-fab color="primary">
    <mat-icon>thumb_up</mat-icon>
  </button>
    <button mat-fab color="accent">
    <mat-icon>thumb_up</mat-icon>
  </button>
    <button mat-fab color="warn">
    <mat-icon>thumb_up</mat-icon>
  </button>
    <button mat-fab disabled>
    <mat-icon>thumb_up</mat-icon>
  </button>
</div>

<div>
    <button mat-mini-fab>
    <mat-icon>thumb_up</mat-icon>
  </button>
    <button mat-mini-fab color="primary">
    <mat-icon>thumb_up</mat-icon>
  </button>
    <button mat-mini-fab color="accent">
    <mat-icon>thumb_up</mat-icon>
  </button>
    <button mat-mini-fab color="warn">
    <mat-icon>thumb_up</mat-icon>
  </button>
    <button mat-mini-fab disabled>
    <mat-icon>thumb_up</mat-icon>
  </button>
</div>

<div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div>
    <mat-button-toggle-group #formatAlignGroup="matButtonToggleGroup">
        <!-- button toogle所代表的值 -->
        <mat-button-toggle value="left">
            <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <!-- 預設被選取 -->
        <mat-button-toggle value="center" checked="true">
            <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right">
            <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
        <!-- 不允許選擇的button toggle -->
        <mat-button-toggle value="justify" disabled>
            <mat-icon>format_align_justify</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div>對齊方式為：{{ formatAlignGroup.value }}</div>
</div>

<div class="demo-ripple-container" mat-ripple></div>

<!-- <div class="demo-ripple-container" mat-ripple
[matRippleCentered]="false"
[matRippleDisabled]="false"
[matRippleUnbounded]="false"
[matRippleRadius]="10"
[matRippleColor]="'pink'"
[matRippleSpeedFactor]="0.5"></div> -->