<p>
  pdf-view works!
</p>
<div>
  <label>PDF src</label>
  <!-- <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc"/> -->
</div>
<!-- <pdf-viewer [src]="pdfSrc" 
          [render-text]="false"
          style="display: block;"
></pdf-viewer> -->

<!-- <a href="src/assets/pdf-test.pdf" target="_blank">
  <pdf-viewer [src]="'../../assets/pdf-test.pdf'" [render-text]="false" style="display: block; height: 800px; overflow: hidden;"></pdf-viewer>
</a> -->

<embed src= "../../assets/pdf-test.pdf" width= "500" height= "375">