<nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
    <ng-template #item let-item>
        <nz-list-item>
            <nz-list-item-meta [nzTitle]="nzTitle" nzAvatar="../../../../assets//imags/basal-logo.jpeg" nzDescription="{{item.href}}">
                <ng-template #nzTitle>
                    <a [routerLink]="['/','basal', item.link]">{{ item.title }}</a>
                </ng-template>
            </nz-list-item-meta>
        </nz-list-item>
    </ng-template>
</nz-list>